@model InstructorViewModel
@{
    bool Hide = ViewBag.Hide;
}

@if (Hide == false)
{
    <div class="card" style="width: 18rem;">
        <img src="~/imgs/@Model.ImgSrc" alt="Instructor" />
        <div class="card-body">
            <h5 class="card-title">Name: @Model.Name</h5>
            <h5 class="card-title">Salary: @Model.Salary</h5>
            <h5 class="card-title">Address: @Model.Address</h5>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-controller="Instructor" asp-action="Index" asp-all-route-id="@Model.Id" class="btn btn-primary">Back</a>
                <a asp-controller="Instructor" asp-action="Update" asp-all-route-id="@Model.Id" class="btn btn-Warning">Update</a>
                <a asp-controller="Instructor" asp-action="Delete" asp-all-route-id="@Model.Id" class="btn btn-Danger">Delete</a>
            </div>
        </div>
    </div>
}
else
{
    <div class="card" style="width: 18rem;">
        <img src="~/imgs/@Model.ImgSrc" alt="Instructor" />
        <div class="card-body">
            <h5 class="card-title">Name: @Model.Name</h5>
            <h5 class="card-title">Salary: @Model.Salary</h5>
            <h5 class="card-title">Address: @Model.Address</h5>
            <div class="btn-group" role="group" aria-label="Basic example">
                <a asp-controller="Instructor" asp-action="Details" asp-all-route-id="@Model.Id" class="btn btn-primary">Details</a>
                <a asp-controller="Instructor" asp-action="Update" asp-all-route-id="@Model.Id" class="btn btn-Warning">Update</a>
                <a asp-controller="Instructor" asp-action="Delete" asp-all-route-id="@Model.Id" class="btn btn-Danger">Delete</a>
            </div>
        </div>
    </div>
}