@model DepartmentViewModel
@{
    ViewData["Title"] = "Add";
    var Instructors = new SelectList(ViewBag.Instructors, "Id", "Name");
}

<h1>Add New Department</h1>
<div asp-validation-summary="All"></div>

<form asp-action="Add" asp-controller="Department">
    <div>
        <label asp-for="@Model.Name">Name</label>
        <input asp-for="@Model.Name" type="text" name="Name" id="Name" class="form form-control" />
    </div>

    <div>
        <label asp-for="@Model.ManagerName">Manager Name</label>
        <input asp-for="@Model.ManagerName" type="text" name="ManagerName" id="ManagerName" class="form form-control" />
    </div>

    <div>
        <label asp-for="@Model.instructorsId">Instructors</label>
        <select asp-for="@Model.instructorsId" asp-items="Instructors" class="form form-control">
            <option> -- Select -- </option>
        </select>
       @*  <input asp-for="@Model.instructors" type="text" name="instructors" id="instructors" class="form form-control" /> *@
    </div>

    <input type="submit" class="btn btn-primary my-3" value="Add" asp-action="Add" asp-controller="Department" />
    <a asp-action="Index" asp-controller="Department" class="btn btn-warning mt-3">Back To List</a>

</form>