@model IEnumerable<DepartmentViewModel>
@{
    ViewData["Title"] = "Index";
}

<section>
    <div class="container py-4">
        <div class="row">
            <div>
                <h1 class="text-info"> Departments </h1>
                <a href="/Department/Add" class="btn btn-primary">Add New Department</a>
            </div>
        </div>
        <div class="row">
            <form asp-action="Index" asp-controller="Department" class="d-flex my-3" role="search">
                <input class="form-control me-2" name="SearchValue" type="search" placeholder="Search By Name">
                <input class="btn btn-primary" value="Search" type="submit">
            </form>
        </div>
        <div class="row">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Department Name</th>
                        <th scope="col">Manager Name</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.ManagerName</td>
                            <td>
                                <div class="btn-group" role="group" aria-label="Basic example">
@*                                     <a asp-controller="Department" asp-action="Details" asp-all-route-id="@item.Id" class="btn btn-primary">Details</a> *@
                                    <a asp-controller="Department" asp-action="Update" asp-route-id="@item.Id" class="btn btn-warning">Update</a>
                                    <a asp-controller="Department" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger disabled">Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</section>
